<div class="nav">
    <div class="sb-sidenav-menu-heading">Menu</div>
    <a class="nav-link" href="index.html">
        <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
        Home
    </a>
    <div class="sb-sidenav-menu-heading">Main</div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        Tables
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/table/">27,934B-JOY</a>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseDLC" aria-expanded="false" aria-controls="pagesCollapseAuth">
                DLC Tables
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseDLC" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/table/stelladlc.html">Stella DLC</a>
                    <a class="nav-link" href="/table/satellitedlc.html">Satellite DLC</a>
                </nav>
            </div>
            <a class="nav-link" href="/table/tablelist.html">Table List</a>
        </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
        Events
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a class="nav-link" href="https://trfce.github.io/wtf.html">World Training Festival</a>
            <a class="nav-link" href="/event/wtf2/">World Training Festival 2</a>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                Mutual Fumen
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/event/mf/">Main</a>
                    <a class="nav-link" href="/event/mf/venue/">Venue</a>
                    <a class="nav-link" href="/event/mf/table.html">Download</a>
                    <a class="nav-link" href="/event/mf/result/">Result</a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                GENOCIDE Reinterpretation
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/event/renewal/">Main</a>
                </nav>
            </div>
        </nav>
    </div>
    <a class="nav-link" href="/Mary_Sue/">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        Mary_Sue's Page
    </a>
</div>