/* For Event Page */
.big-title {
  font-size: 2em !important;
}

.event-button {
  font-size: 1.5em;
}

.shortcut-table {
  white-space: nowrap;
}

h4 {
  word-break: break-word;
}

th {
  white-space: pre-wrap;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1s infinite;
}

/* SUPREME LEADER **LuvTek** */
.hide-cursor {
  cursor: none;
}
